
.barre{
    -fx-background-image: url("../../images/admin.jpg");
-fx-background-size:100% auto;
-fx-background-attachment: fixed;
-fx-overflow-x:hidden;
    -fx-background-position: center center;
 

}

.left{
    -fx-background-image: url("../../images/admin2.jpg");
    -fx-background-attachment: fixed;
    -fx-background-position: center center;
    -fx-background-size:100% auto;

 

}