/*
 * Empty Stylesheet file.
 */

.background{
    -fx-background-image: url("../Images/Chayma1.jpg");
-fx-background-size:100% auto;
-fx-background-attachment: fixed;
-fx-overflow-x:hidden;
fx-background-position: center center;
-fx-background-repeat: no-repeat;


} 

.background1{
    -fx-background-image: url("../Images/mod.jpg");
-fx-background-size:100% auto;
-fx-background-attachment: fixed;
-fx-overflow-x:hidden;
fx-background-position: center center;
-fx-background-repeat: no-repeat;


} 

.background2{
    -fx-background-image: url("../Images/j.jpg");
-fx-background-size:100% auto;
-fx-background-attachment: fixed;
-fx-overflow-x:hidden;
fx-background-position: center center;
-fx-background-repeat: no-repeat;


} 




