.background{
    -fx-background-image: url("../Images/profile.jpg");
-fx-background-size:100% auto;
-fx-background-attachment: fixed;
-fx-overflow-x:hidden;
fx-background-position: center center;
-fx-background-repeat: no-repeat;


}


.modifier{
    -fx-background-image: url("../Images/modifier.jpg")  ;
-fx-background-size:100% auto;
-fx-background-attachment: fixed;
-fx-overflow-x:hidden;
fx-background-position: center center;
-fx-background-repeat: no-repeat;


}

